[submodule "references/Allay"]
	path = references/Allay
	url = git@github.com:AllayMC/Allay.git
[submodule "references/JavaPluginTemplate"]
	path = references/JavaPluginTemplate
	url = git@github.com:AllayMC/JavaPluginTemplate.git
[submodule "references/AllayGradle"]
	path = references/AllayGradle
	url = git@github.com:AllayMC/AllayGradle.git
